body
{ 
    background-color: rgb(80,200,120); 
    text-align: center;
    margin:1in solid green;
}

header
{
    margin: 2em;
    border: 2px solid rgb(3, 163, 3);
    border-radius: 30px;
    padding: 40px;
    font-style:normal;
    font-size: 120%;
    background-color: green;
}

p>ul
{
    float: right;
}

